<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista de Tarefas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      <div class="item-note" item-right>
        {{item.nome}} 
        {{item.tempoString}} 
      </div>
      <button ion-button icon-only *ngIf="item.play;" clear item-right (click)="stop($event, item)" ><ion-icon name="pause"></ion-icon></button>

      <button ion-button icon-only *ngIf="!item.play;" clear item-right (click)="play($event, item)" ><ion-icon name="play"></ion-icon></button>            <button ion-button icon-only clear item-right (click)="deletarDialog($event, item)" ><ion-icon name="trash"></ion-icon></button>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    Voce veio de <b>{{selectedItem.nome}}</b>
  </div>
</ion-content>
